* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4EFFA;
    color: #4a235a;
    padding-top: 220px;

}

#banner {
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;

}

#navbar {
    background-color: #2a004c;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

#navbar ul {
    list-style: none;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin: 0 15px;
}

#navbar ul li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #a069c0;
}

body {
    padding-top: 60px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}
.edit-btn{
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: #5e2a88;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-right: 20px;
}
.delete-btn{
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: #5e2a88;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-right: 20px;
}
.edit-btn span:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #7d3c98;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
.delete-btn span:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #7d3c98;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin-right: 20px;
}

.animated-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #7d3c98;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
.edit-btn span:first-child{
    position: relative;
    z-index: 1;
}
.delete-btn span:first-child{
    position: relative;
    z-index: 1;
}
.edit-btn:hover {
    box-shadow: 0 0 0 5px #7d3c98;
    color: #ffffff;
}
.delete-btn:hover {
    box-shadow: 0 0 0 5px #7d3c98;
    color: #ffffff;
}

.animated-button span:first-child {
    position: relative;
    z-index: 1;
}

.animated-button:hover {
    box-shadow: 0 0 0 5px #7d3c98;
    color: #ffffff;
}
.edit-btn:active {
    scale: 0.95;
}
.delete-btn:active {
    scale: 0.95;
}
.animated-button:active {
    scale: 0.95;
}
.edit-btn:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}
.delete-btn:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}
.animated-button:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
}


.form-container {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.2);
    border-radius: 10px;
}

#postTitle, #postContent {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a069c0;
    border-radius: 4px;
}

#submitBtn {
    background-color: #5e2a88;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.posts-container {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.2);
    text-align: center;
}

.post {
    background-color: #F4EFFA;
    padding: 15px;
    margin: 10px auto;
    border-left: 5px solid #7d3c98;
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post h3 {
    color: #4a235a;
    margin: 0;
    font-size: 1.5em;
}

.post p {
    margin-top: 10px;
    color: #5e2a88;
    font-size: 1em;
}

.post-image {
    max-width: 100%;
    height: 200px;
    margin-top: 10px;
}


.contact-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.2);
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#contactName, #contactEmail, #contactMessage {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a069c0;
    border-radius: 4px;
}

#submitContactBtn {
    background-color: #7d3c98;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#submitContactBtn:hover {
    background-color: #5e2a88;
}

footer {
    background-color: #5e2a88;
    color: #e6ccff;
    text-align: center;
    padding: 10px;

}

#postsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    justify-items: center;
    align-items: start;
}




@media (max-width: 768px) {
    #navbar ul li {
        display: block;
        margin-bottom: 10px;
    }

    .form-container, .contact-container {
        width: 90%;
    }
    #postsList {
        grid-template-columns: 1fr; /* Una sola columna en pantallas más pequeñas */
    }
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 600px;
}

.input {
    width: 700px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #ffffff;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #280a43;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgb(125, 60, 152);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(94, 42, 136);
}

textarea:hover{
    outline: none;
    border-color: rgb(125, 60, 152);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(94, 42, 136);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #280a43;
    width: 1rem;
    height: 1rem;
}